body{background:#6b154f;font-family:'Open Sans',sans-serif;padding-top:60px;}
.main-container{background:transparent;width:960px;padding:10px;}
.navbar-inverse .navbar-inner{background:#1c1c1c;background-image:-moz-linear-gradient(center top, #393939, #222222);background-repeat:repeat-x;box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),0 -1px 0 rgba(0, 0, 0, 0.1) inset;}
